<div class="container mt-4">
  <% @exams.each do |exam| %>
    <% if exam.registrations.any? %>
      <div class="card bg-light mb-4">
        <div class="card-header">
          <h2 class="card-title m-0"><%= exam.title %></h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-borderless">
              <thead>
                <tr class="bg-primary text-light">
                  <th>Participant Name</th>
                  <th>College</th>
                </tr>
              </thead>
              <tbody>
                <% exam.registrations.each do |registration| %>
                  <tr>
                    <td><%= registration.user.name %></td>
                    <td><%= registration.user.college.name %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>