<br/>
<div class="container">
  <% @exams.each do |exam| %>
    <div class="card bg-cream mb-5">
      <div class="card-body">
        <h2 class="card-title mb-4"><%= exam.title %></h2>
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead class="thead-bg cream">
              <tr>
                <th scope="col">Rank</th>
                <th scope="col">User</th>
                <th scope="col">Score</th>
              </tr>
            </thead>
            <tbody>
              <% if exam.registrations.count == 0 %>
                <tr>
                  <td colspan="3">No scores available for this exam.</td>
                </tr>
              <% else %>
                <% exam.registrations.order(score: :desc).each.with_index(1) do |registration, index| %>
                  <% if registration.score %>
                    <tr>
                      <td><%= index %></td>
                      <td><%= registration.user.name %></td>
                      <td><%= registration.score %></td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>